Appium-Python-Client==4.0.1
asgiref==3.8.1
attrs==23.2.0
beautifulsoup4==4.12.3
body==0.1
certifi==2024.7.4
cffi==1.16.0
charset-normalizer==3.3.2
colorama==0.4.6
Django==5.1.1
findpython==0.7.0
pyautogui==0.9.54
